@import 'common.scss';

* {
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	width: 100%;
	background-color: $base_bgc;
}

a {
	text-decoration: none;
	color: $black_color;
}

li {
	list-style: none;
}

.v-enter,
.v-leave-to {
	opacity: 0;
}

.v-enter-active,
.v-leave-active {
	transition: all 0.1s ease;
}
